.container {
    width: 100%;
    height: 100vh;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    background-color: grey;
  }
  
  .leftpane {
    width: 25%;
    height: 100vh;
    background-color: lightgrey
    ;
  }
  
  .middlepane {
    width: 50%;
    height: 100vh;
    background-color: lightslategrey;
    
    
    
    
}

.middlebox{
    width: 100%;
    height: 250px;
    background-color: lightsteelblue;
    border: 5px solid lightslategray;
    display: flex;
    flex-direction: column-reverse;

}
.ownedbuildingsbox{
     height: 25%;
     width: 100%;
     background-color:rgb(59, 61, 65);
     flex-direction: row;
}
.rightpane {
    width: 25%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    
    
  }
  
  body {
    margin: 0!important;
  }
  
  .d-flex {
    display: flex;
  }
.box{
    
    width: 100%;
    height: 250px;
    background-color: darkgrey;
    border: 5px;
    
  }

  .price_box {
    display: flex;
    flex-direction: row;
  }
