.container {
    width: 100%;
    height: 100vh;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    background-color: rgb(242, 237, 237);
  }
  
  .leftpane {
    width: 25%;
    height: 100vh;
    background-color: rgb(187, 187, 187)
    ;
  }
  
  .middlepane {
    width: 50%;
    height: 100vh;
    background-color: lightslategrey;
    
    
    
    
}

.middlebox{
    width: 100%;
    height: 250px;
    background-color: lightsteelblue;
    border: 5px solid lightslategray;
    display: flex;
    flex-direction: column-reverse;

}
.middlebox1{
  width: 100%;
  height: 250px;
  background-color: lightsteelblue;
  background-image: url("Jungle.jpg");

  border: 5px solid lightslategray;
  display: flex;
  flex-direction: column-reverse;

}
.middlebox2{
  width: 100%;
  height: 250px;
  background-color: lightsteelblue;
  background-image: url("breakingbad\ desert");
  border: 5px solid lightslategray;
  display: flex;
  flex-direction: column-reverse;

}
.middlebox3{
  width: 100%;
  height: 250px;
  background-color: lightsteelblue;
  background-image: url("dockyard-background.jpg");
  border: 5px solid lightslategray;
  display: flex;
  flex-direction: column-reverse;

}
.middlebox4{
  width: 100%;
  height: 250px;
  background-color: lightsteelblue;
  background-image: url("cliffside.png");
  border: 5px solid lightslategray;
  display: flex;
  flex-direction: column-reverse;

}
.ownedbuildingsbox{
     height: 12,5%;
     width: 100%;
     display: flex;
     
     flex-direction: row;
}
.rightpane {
    width: 25%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    
    
  }
  
  body {
    margin: 0!important;
  }
  
  .d-flex {
    display: flex;
  }
body{
background-color: antiquewhite;
text-align: center;



}

#bombimage{
  transition: 100ms;
}

#bombimage:hover{
  transform: scale(1.3);
  
}
#bombimage:active{
  transform: scale(1.1);
}
#telt_image{
  transition: 100ms;
}

#telt_image:hover{
  transform: scale(1.3);
  
}
#telt_image:active{
  transform: scale(1.1);
}

#rv_image{
  transition: 100ms;
}

#rv_image:hover{
  transform: scale(1.3);
  
}
#rv_image:active{
  transform: scale(1.1);
}
#container_image{
  transition: 100ms;
}

#container_image:hover{
  transform: scale(1.3);
  
}
#container_image:active{
  transform: scale(1.1);
}
#cave_image{
  transition: 100ms;
}

#cave_image:hover{
  transform: scale(1.3);
  
}
#cave_image:active{
  transform: scale(1.1);
}





















#instructions{
  border: double 10px black;
  
    }

  .upgradebox{

    width: 100%;
    height: 125px;
    background-color: rgb(103, 103, 119);
    border: 5px;
  }
  .upgradelane{
    width: 100%;
    height: 62.5px;
    background-color: rgb(103, 103, 119);
    border: 5px;
    display: flex;
    flex-direction: row;
  }
.box{
    
    width: 100%;
    height: 250px;
    background-color: darkgrey;
    border: 5px;
    
  }

  .price_box {
    display: flex;
    flex-direction: row;
  }
